<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}'s Watchlist</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/style.css')}}" type="text/css">
</head>
<body>
<h2>
    <img alt="Avatar" src="{{url_for('static',filename='images/avatar.png')}}" class="avatar">

    {{name}}'s Watchlist
</h2>
<p>{{movies|length}} Titles</p>
<ul class="movie-list">
    {%for movie in movies%}
    <li>{{movie.title}} - {{movie.year}}</li>
    {% endfor %}
</ul>
<img src="{{url_for('static',filename='images/totoro.gif')}}" alt="Walking Totoro" class="totoro">

<footer>
    <small>&copy; 2018 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
</footer>
</body>
</html>